In [2]:
# read in yelp JSON file, convert to csv
import json
import csv
import pandas as pd

amazon_txt = "datasets/amazon-reviews.csv"
amazon_csv_path = "datasets/amazon-reviews.csv"


df = pd.read_csv(amazon_txt)
df.head()
# df.to_csv(amazon_csv_path)

   Unnamed: 0  label                                               text
0           0      1   Stuning even for the non-gamer: This sound tr...
1           1      1   The best soundtrack ever to anything.: I'm re...
2           2      1   Amazing!: This soundtrack is my favorite musi...
3           3      1   Excellent Soundtrack: I truly like this sound...
4           4      1   Remember, Pull Your Jaw Off The Floor After H...

In [3]:
df = df [ ['label', 'text']]
df.head()

   label                                               text
0      1   Stuning even for the non-gamer: This sound tr...
1      1   The best soundtrack ever to anything.: I'm re...
2      1   Amazing!: This soundtrack is my favorite musi...
3      1   Excellent Soundtrack: I truly like this sound...
4      1   Remember, Pull Your Jaw Off The Floor After H...

In [4]:
df.to_csv(amazon_csv_path, index=False)

In [26]:
df2 = pd.DataFrame()
df2['label'] = df[0].str[:10]

KeyError: 0

In [5]:
df2.head()

        label
0  __label__2
1  __label__2
2  __label__2
3  __label__2
4  __label__2

In [6]:
df2['text'] = df[0].str[10:]
df2.head()

        label                                               text
0  __label__2   Stuning even for the non-gamer: This sound tr...
1  __label__2   The best soundtrack ever to anything.: I'm re...
2  __label__2   Amazing!: This soundtrack is my favorite musi...
3  __label__2   Excellent Soundtrack: I truly like this sound...
4  __label__2   Remember, Pull Your Jaw Off The Floor After H...

In [7]:
def swap_with_numbers(x):
    if x == "__label__2":
        return 1
    elif x == "__label__1":
        return 0
    else:
        return None
    
df2['label'] = df2['label'].apply(swap_with_numbers)
df2.head()

   label                                               text
0      1   Stuning even for the non-gamer: This sound tr...
1      1   The best soundtrack ever to anything.: I'm re...
2      1   Amazing!: This soundtrack is my favorite musi...
3      1   Excellent Soundtrack: I truly like this sound...
4      1   Remember, Pull Your Jaw Off The Floor After H...

In [8]:
df2.to_csv(amazon_csv_path, index=False)

In [12]:
df = pd.read_csv("datasets/twitter-airline-sentiment.csv")
df = df[ ['airline_sentiment', 'text'] ]
df.head()

  airline_sentiment                                               text
0           neutral                @VirginAmerica What @dhepburn said.
1          positive  @VirginAmerica plus you've added commercials t...
2           neutral  @VirginAmerica I didn't today... Must mean I n...
3          negative  @VirginAmerica it's really aggressive to blast...
4          negative  @VirginAmerica and it's a really big bad thing...

In [14]:
def convert_to_numbers(x):
    if x == 'positive':
        return 1
    elif x == 'negative':
        return 0
    else:
        return -1

df['airline_sentiment'] = df['airline_sentiment'].apply(convert_to_numbers)
df.head()

   airline_sentiment                                               text
0                 -1                @VirginAmerica What @dhepburn said.
1                  1  @VirginAmerica plus you've added commercials t...
2                 -1  @VirginAmerica I didn't today... Must mean I n...
3                  0  @VirginAmerica it's really aggressive to blast...
4                  0  @VirginAmerica and it's a really big bad thing...

In [15]:
print(len(df['text']))
df = df[df.airline_sentiment != -1]
print(len(df['text']))
df.head()

14640
11541

   airline_sentiment                                               text
1                  1  @VirginAmerica plus you've added commercials t...
3                  0  @VirginAmerica it's really aggressive to blast...
4                  0  @VirginAmerica and it's a really big bad thing...
5                  0  @VirginAmerica seriously would pay $30 a fligh...
6                  1  @VirginAmerica yes, nearly every time I fly VX...

In [16]:
df.rename(columns={'airline_sentiment':'label'}, inplace=True)
df.head()

   label                                               text
1      1  @VirginAmerica plus you've added commercials t...
3      0  @VirginAmerica it's really aggressive to blast...
4      0  @VirginAmerica and it's a really big bad thing...
5      0  @VirginAmerica seriously would pay $30 a fligh...
6      1  @VirginAmerica yes, nearly every time I fly VX...

In [18]:
df.to_csv("datasets/twitter-airline-sentiment.csv", index=False)

In [20]:
df = pd.read_csv("datasets/imdb-reviews.csv", encoding='latin-1')
df.head()

                                       SentimentText  Sentiment
0  first think another Disney movie, might good, ...          1
1  Put aside Dr. House repeat missed, Desperate H...          0
2  big fan Stephen King's work, film made even gr...          1
3  watched horrid thing TV. Needless say one movi...          0
4  truly enjoyed film. acting terrific plot. Jeff...          1

In [21]:
df.rename(columns={'SentimentText':'text', 'Sentiment': 'label'}, inplace=True)
df.head()

                                                text  label
0  first think another Disney movie, might good, ...      1
1  Put aside Dr. House repeat missed, Desperate H...      0
2  big fan Stephen King's work, film made even gr...      1
3  watched horrid thing TV. Needless say one movi...      0
4  truly enjoyed film. acting terrific plot. Jeff...      1

In [22]:
df = df[['label', 'text']]
df.head()

   label                                               text
0      1  first think another Disney movie, might good, ...
1      0  Put aside Dr. House repeat missed, Desperate H...
2      1  big fan Stephen King's work, film made even gr...
3      0  watched horrid thing TV. Needless say one movi...
4      1  truly enjoyed film. acting terrific plot. Jeff...

In [24]:
df.to_csv("datasets/imdb-reviews.csv", index=False)

# Sampling: Creating <100mb train and val sets

In [ ]:
import pandas as pd

dataset_dirs = ['twitter.csv', 'amazon.csv', 'imdb.csv']
for dataset in dataset_dirs:
    df = pd.read_csv('datasets/' + dataset)
    train = df.sample(frac=0.8, random_state=200)
    val = df.drop(train.index)
    train.to_csv('datasets/train_' + dataset, index=False)
    val.to_csv('datasets/val_' + dataset, index=False)